.bg-darkblue{
  background-color: rgb(40, 44, 52);
}

.bg-darkerblue{
  background-color: rgb(33, 37, 43);
}

.mallana{
  font-family: 'Mallanna', sans-serif;
}

.big{
  font-size: 110%;
}

.bigger{
  font-size: 120%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body, html{
  height: 100%;
  margin: 0;
}

.bg{
  background-image: url("/assets/img/transplanetcut.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
